<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/front-end11/login.css">
<title>Admin Login</title>
</head>

<body>

		<div class="bg"></div>
		<div class="login_field">

			<img class="logo1" src="/img/front-end11/logo.PNG" alt="">

			<form action="login_transaction.php" method="post">

				<label for="email">Email </label><br><br>
				<input class="firstinput" type="email" id = "email" name = "email" placeholder = "example@email.com" required><br><br>

				<label for="password">Password </label><br><br>
				<input class="secondinput" type="password" id = "password" name = "password" placeholder = "p@$$w00rd" required><br><br><br>

				<input class="thirdinput" type="submit" value="Login"><br>

			</form>

		</div>

</body>
</html>
