<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dicee</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/front-end4/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet" />

  </head>

  <body>

    <div class="container">
      <h1 onclick="play()">Refresh Me</h1>

      <div class="dice">
        <p>Player 1</p>
        <img class="img1" src="img/front-end4/dice6.png">
      </div>

      <div class="dice">
        <p>Player 2</p>
        <img class="img2" src="img/front-end4/dice6.png">
      </div>

    </div>


  </body>

  <footer>
    www 🎲 App Brewery 🎲 com<br>
    Updated by Piotr Knera 2019
  </footer>

  <script src="js/front-end4/index.js" charset="utf-8"></script>
</html>
