<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio_PiotrKnera</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/css1.css">
  <link rel="shortcut icon" href="img/portfolio_face2.ico">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="300">


  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top navbar-collapse">
    <div class="container">
  		<a class="navbar-brand" href="#"> Portfolio</a>
  		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  					<span class="navbar-toggler-icon"></span>
  				</button>
  	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  		<ul class="navbar-nav ml-auto">
  		  <li class="nav-item">
  			     <a class="nav-link" href="#front-end">Front-end</a>
  		  </li>
  		  <li class="nav-item">
  			     <a class="nav-link" href="#back-end">Back-end</a>
  		  </li>
        <li class="nav-item">
             <a class="nav-link" href="#certificate"><i class="fa fa-certificate" aria-hidden="true"></i></a>
        </li>

  		</ul>
  	</div>
    </div>
  </nav>


<div class="container-fluid">

  <p class="firstTitle" id="front-end">Front-end</p>
  <hr class="style1">

	<div class="row">
    <div class="gallery">
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img src="/img/front-end1.png" alt="" class="shadowed"/>
            <a href="/front-end1" target="_blank"><figcaption>Projekt na zaliczenie aplikacji internetowych<small>korzysta głównie z bootstrap i jQuery</small></figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img  class="shadowed" src="/img/front-end2.png" alt="" />
            <a href="/front-end2" target="_blank"><figcaption>Z kursu internetowego Angeli Yu<small>Dla nauki html i css</small></figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img  class="shadowed" src="img/front-end3.png" alt="" />
            <a href="/front-end3" target="_blank"><figcaption>Z kursu internetowego Angeli Yu
              <small>Dla nauki bootstrap, używania font-awesome i bardziej zaawansowanego css'a</small>
            </figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img  class="shadowed" src="img/front-end4.png" alt="" />
            <a href="/front-end4" target="_blank"><figcaption>Z kursu internetowego Angeli Yu<small>Dla nauki podstaw JavaScript i DOM</small></figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img  class="shadowed" src="img/front-end5.png" alt="" />
            <a href="/front-end5" target="_blank"><figcaption>Z kursu internetowego Angeli Yu<small>Dla nauki JavaScript, obsługi klawiszy i dodawanie dźwięków</small></figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img class="shadowed" src="img/front-end6.png" alt="" />
            <a href="/front-end6" target="_blank"><figcaption>Z kursu internetowego Angeli Yu<small>Gra pamięciowa stworzona dla nauki jQuery</small></figcaption></a>
          </figure>
        </div>
    </div>
</div>

  <p class="secondTitle"> <span id="back-end">hidden content</span> Back-end</p>
  <hr class="style1">

  <div class="row">
    <div class="gallery">
      <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
        <figure>
          <img class="shadowed" src="img/back-end1.png" alt="" />
          <a href="/back-end1" target="_blank"><figcaption>Z kursu internetowego Angeli Yu<small>Dla nauki bazy danych noSQL, dodawania postów i używania express routing parameters</small></figcaption></a>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
        <figure>
          <img class="shadowed" src="img/back-end2.png" alt="" />
          <a href="/back-end2" target="_blank"><figcaption>Z kursu internetowego Angeli Yu<small>Dla nauki bazy danych noSQL</small></figcaption></a>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
        <figure>
          <img class="shadowed" src="img/back-end3.png" alt="" />
          <a href="/back-end3" target="_blank"><figcaption>Z kursu internetowego Angeli Yu
            <small>Dla nauki integracji aplikacji z inną stroną, tutaj: mailchimp. Dane są wysłane po to aby wyrazić chęć subskrybowania strony, kto przysłał i jakie dane widzi tylko administrator na stronie mailchimp</small>
          </figcaption></a>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
        <figure>
          <img class="shadowed" src="img/back-end4.png" alt="" />
          <a href="/back-end4" target="_blank"><figcaption>Z kursu internetowego Angeli Yu <small>Dla nauki szyfrowania haseł, sesji, tworzenia rejestracji, logowania oraz logowania pośredniego, np. przez Google </small></figcaption></a>
        </figure>
      </div>
    </div>
  </div>

  <hr class="style1 lasthr">

    <div class="gallery" id="certificate">
      <div class="col-lg-4 col-md-8 cold-sm-12 col-pad col-size">
        <figure class="figure-last">
          <img class="shadowed fitted-last" src="img/certyfikat1.jpg" alt="" />
          <figcaption class="figcaption-last"> <small> </small></figcaption>
        </figure>
      </div>
    </div>

</div>


<script type="text/javascript" src="js/popup.js"></script>

    <footer class="py-4 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Piotr Knera 2019</p>
      </div>
    </footer>

</body>

</html>
