<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio_PiotrKnera</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/css1.css">
  <link rel="shortcut icon" href="img/portfolio_face3.SVG">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="200">


  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top navbar-collapse" id="navbar">
    <div class="container">
  		<a class="navbar-brand" href="#"> Portfolio</a>
  		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  					<span class="navbar-toggler-icon"></span>
  				</button>
  	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  		<ul class="navbar-nav ml-auto">
  		  <li class="nav-item">
  			     <a class="nav-link" href="#front-end">Front-end</a>
  		  </li>
  		  <li class="nav-item">
  			     <a class="nav-link" href="#back-end">Back-end</a>
  		  </li>
        <li class="nav-item">
             <a class="nav-link" href="#achievements"><i class="fa fa-certificate" aria-hidden="true"></i></a>
        </li>

  		</ul>
  	</div>
    </div>
  </nav>


<div class="container-fluid header-front-end">

  <section id = "front-end-section-label">
    <p class="firstTitle"> <span id="front-end">hidden content</span>Front-end</p>
  </section>

</div>

  <section id = "front-end-section">
    <div class="front-end-section-div">
      <div class="shapeshifter7" id='star' style="background-image: url(/img/30fps/front-end-ornament6.SVG)"></div>
      <div class="row">
        <div class="container-fluid">
        <div class="gallery">
          <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
            <figure>
              <img class="shadowed" src="/img/front-end7.PNG" alt="" />
              <a href="/front-end7" target="_blank"><div class="not_clickable"></div><figcaption>Challenge by front-end mentor<small>For practicing coding in HTML, CSS training</small></figcaption></a>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
            <figure>
              <img class="shadowed" src="/img/front-end8.PNG" alt="" />
              <a href="/front-end8" target="_blank"><div class="not_clickable"></div><figcaption>Challenge by front-end mentor<small>For practicing coding in HTML, CSS training</small></figcaption></a>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
            <figure>
              <img class="shadowed" src="/img/front-end9.PNG" alt="" />
              <a href="/front-end9" target="_blank"><div class="not_clickable"></div><figcaption>Challenge by front-end mentor<small>For practicing coding in Sass(CSS), HTML and JavaScript training</small></figcaption></a>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
            <figure>
              <img class="shadowed" src="/img/front-end10.PNG" alt="" />
              <a href="/front-end10" target="_blank"><div class="not_clickable"></div><figcaption>Challenge by front-end mentor<small>For practicing coding in Sass(CSS), HTML and JavaScript training</small></figcaption></a>
            </figure>
          </div>
          <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
            <figure>
              <img class="shadowed" src="/img/front-end11.PNG" alt="" />
              <a href="/front-end11" target="_blank"><div class="not_clickable"></div><figcaption>Admin login page<small>For mobile application in Android Studio. Logo design by yakzi(github)</small></figcaption></a>
            </figure>
          </div>
            <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
              <figure>
                <img src="/img/front-end1.PNG" alt="" class="shadowed"/>
                <a href="/front-end1" target="_blank"><div class="not_clickable"></div><figcaption>Project for passing internet applications<small>Mainly uses bootstrap and jQuery</small></figcaption></a>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
              <figure>
                <img  class="shadowed" src="/img/front-end2.PNG" alt="" />
                <a href="/front-end2" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course<small>For learning HTML and CSS</small></figcaption></a>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
              <figure>
                <img  class="shadowed" src="/img/front-end3.PNG" alt="" />
                <a href="/front-end3" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course
                  <small>For learning bootstrap, more advanced CSS and using font-awesome</small>
                </figcaption></a>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
              <figure>
                <img  class="shadowed" src="/img/front-end4.PNG" alt="" />
                <a href="/front-end4" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course<small>For learning the basics of JavaScript and DOM</small></figcaption></a>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
              <figure>
                <img  class="shadowed" src="/img/front-end5.PNG" alt="" />
                <a href="/front-end5" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course<small>For learning JavaScript, key operation and adding sounds</small></figcaption></a>
              </figure>
            </div>
            <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
              <figure>
                <img class="shadowed" src="/img/front-end6.PNG" alt="" />
                <a href="/front-end6" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course<small>A memory game created for learning jQuery</small></figcaption></a>
              </figure>
            </div>
        </div>
      </div>
  </div>
</div>
</section>


<div class="container-fluid header-back-end">
  <div class="photo_backend">

  </div>
  <section id = "back-end-section-label">
    <p class="secondTitle"> <span id="back-end">hidden content</span> Back-end</p>
  </section>
</div>


  <section id = "back-end-section">
      <div class="back-end-section-div">
      <div class="shapeshifter5" id='star' style="background-image: url(/img/30fps/back-end-mechanism.SVG)"></div>
      <div class="shapeshifter6" id='star' style="background-image: url(/img/30fps/back-end-code.SVG)"></div>
    <div class="row">
      <div class="container-fluid">
      <div class="gallery">
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img class="shadowed" src="/img/back-end1.PNG" alt="" />
            <a href="/back-end1" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course<small>For learning noSQL database, adding posts and using express routing parameters</small></figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img class="shadowed" src="/img/back-end2.PNG" alt="" />
            <a href="/back-end2" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course<small>For learning noSQL database</small></figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img class="shadowed" src="/img/back-end3.PNG" alt="" />
            <a href="/back-end3" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course
              <small>For learning application integration with another website, here: mailchimp. The data is sent to express a desire to subscribe to the site. Who sent and what data only the administrator sees on the mailchimp website</small>
            </figcaption></a>
          </figure>
        </div>
        <div class="col-lg-4 col-md-6 cold-sm-12 col-pad">
          <figure>
            <img class="shadowed" src="/img/back-end4.PNG" alt="" />
            <a href="/back-end4" target="_blank"><div class="not_clickable"></div><figcaption>From Angela Yu's online course <small>For learning password encryption, session, register, login and indirect login, for example: via Google </small></figcaption></a>
          </figure>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>

<div class="container-fluid header-achievements">
  <section id = "achievements-section-label">
    <p class="thirdTitle"> <span id="achievements">hidden content</span> Achievements</p>
  </section>
</div>

  <section id = "achievements-section">
    <div class="achievements-section-div">
          <div class="shapeshifter" id='star' style="background-image: url(./img/30fps/winner_cup_star_end.SVG)"></div>
          <div class="shapeshifter2" id='cup' style="background-image: url(./img/30fps/winner_cup2.SVG)"></div>
          <div class="shapeshifter3" id='star' style="background-image: url(./img/30fps/winner_cup_star.SVG)"></div>
          <div class="shapeshifter4" id='star' style="background-image: url(./img/30fps/winner_cup_star.SVG)"></div>
      <div class="container-fluid last">
        <div class="gallery" >
          <div class="col-lg-4 col-md-8 cold-sm-12 col-pad col-size">
            <figure class="figure-last">
              <img class="shadowed fitted-last" src="/img/certyfikat1.JPG" alt="" />
              <figcaption class="figcaption-last"> <small> </small></figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript" src="js/popup.js"></script>
<script type="text/javascript" src="js/scrollnavbar.js"></script>

    <footer class="py-4 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Piotr Knera 2019 - 2020</p>
      </div>
    </footer>

</body>

</html>
