<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./img/front-end9/favicon-32x32.png">
  <link rel="stylesheet" href="/css/front-end9/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap" rel="stylesheet">

  <title>Frontend Mentor | Clipboard landing page</title>

</head>
<body>



<section class="one">
  <img src="img/front-end9/logo.svg" class="main_logo" alt="logo">
<!-- <img src="design/desktop-design.jpg" alt=""> -->
  <h1>A history of everything you copy</h1>
    <p>Clipboard allows you to track and organize everything you
       copy. Instantly access your clipboard on all your devices.</p>

  <div class="buttons">
    <button class="button_first"><p>Download for iOS</p></button>
    <button class="button_second"><p>Download for Mac</p></button>
  </div>
</section>



<section class="two">
  <h2>Keep track of your snippets<h2>
    <p class="text_beforePC">Clipboard instantly stores any item you copy in the cloud,
       meaning you can access your snippets immediately on all your
       devices. Our Mac and iOS apps will help you organize everything.</p>

  <img src="img/front-end9/image-computer.png" alt="computer" class="img_pc">

  <div class="first_paragraph">
    <h3>Quick Search</h3>
      <p class="textPC">Easily search your snippets by content, category, web address, application, and more.</p>
  </div>

  <div class="second_paragraph">
    <h3>iCloud Sync</h3>
      <p class="textPC">Instantly saves and syncs snippets across all your devices.</p>
  </div>

  <div class="third_paragraph">
    <h3>Complete History</h3>
      <p class="textPC">Retrieve any snippets from the first moment you started using the app.</p>
  </div>
</section>



<section class="three">
  <h2>Access Clipboard anywhere</h2>

  <p>Whether you’re on the go, or at your computer, you can access all your Clipboard
     snippets in a few simple clicks.</p>

  <img src="img/front-end9/image-devices.png" class="" alt="">
</section>



<section class="four">
  <h2>Supercharge your workflow</h2>
    <p>We’ve got the tools to boost your productivity.</p>

  <div class="columns">
    <div class="first_paragraph">
      <img src="img/front-end9/icon-blacklist.svg" alt="list-icon">
      <h3>Create blacklists</h3>
        <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
    </div>

    <div class="second_paragraph">
      <img src="img/front-end9/icon-text.svg" alt="text-icon">
      <h3>Plain text snippets</h3>
        <p>Remove unwanted formatting from copied text for a consistent look.</p>
    </div>

    <div class="third_paragraph">
      <img src="img/front-end9/icon-preview.svg" alt="preview-icon">
      <h3>Sneak preview</h3>
        <p>Quick preview of all snippets on your Clipboard for easy access.</p>
    </div>
  </div>
</section>



<section class="five">
      <img src="img/front-end9/logo-google.png" alt="">
      <img src="img/front-end9/logo-ibm.png" alt="">
      <img src="img/front-end9/logo-microsoft.png" alt="">
      <img src="img/front-end9/logo-hp.png" alt="">
      <img src="img/front-end9/logo-vector-graphics.png" alt="">
</section>



<section class="six">
  <h2>Clipboard for iOS and Mac OS</h2>

  <p>Available for free on the App Store. Download for Mac or iOS, sync with iCloud
  and you’re ready to start adding to your clipboard.</p>

  <div class="buttons">
    <button type="button" name="button" class="button_first"><p>Download for iOS</p></button>
    <button type="button" name="button" class="button_second"><p>Download for Mac</p></button>
  </div>
</section>



<section class="seven">
  <div class="logo_footer">
      <img src="img/front-end9/logo.svg" alt="logo_mini" class="logo_mini">
  </div>

  <div class="text_footer">
    <p class="footer1">FAQs</p>
    <p class="footer2">Contact Us</p>
    <p class="footer3">Privacy Policy</p>
    <p class="footer4">Press Kit</p>
    <p class="footer5">Install Guide</p>
  </div>

  <div class="society_footer">
    <img src="img/front-end9/icon-facebook.svg" alt="facebook">
    <img src="img/front-end9/icon-twitter.svg" alt="twitter">
    <img src="img/front-end9/icon-instagram.svg" alt="instagram">
  </div>
</section>



  <footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://github.com/krakiri" target="_blank">Piotr Knera</a>.
    </p>
  </footer>


</body>
</html>
