<%- include("header") -%>

<div class="box" id="heading">
  <h1>Welcome everybody</h1>
</div>

<div class="box">
  <p>Sometimes you gotta run before you can walk - Tony Stark</p>
</div>

<%- include("footer") -%>
