<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/front-end8/favicon-32x32.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/front-end8/style.css">
  <title>Frontend Mentor | Fylo landing page with dark theme and features grid</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(176, 68%, 64%); text-decoration: none; font-weight: bold; }
    .attribution a:hover{ color: hsl(198, 60%, 50%); }
  </style>
</head>
<body id="body">

<div class="background_first_section">
  <section class="first_section" id="first_section_id">

      <div class="navigation">
        <img class="logo1" src="img/front-end8/logo.svg" alt="">
        <a href="#second_section_id" class="nav_el1">Features</a>
        <a href="#fourth_section_id" class="nav_el2">Team</a>
        <a href="#fifth_section_id" class="nav_el3">Sign In</a>
      </div>

        <img class="main_img" src="img/front-end8/illustration-intro.png" alt="logo">

      <div class="first_main_div">
        <h1 class="firsth1">All your files in one secure location, accessible anywhere.</h1>
        <h3 class="firsth3">Fylo stores all your most important files in one secure location. Access them wherever
        you need, share and collaborate with friends family, and co-workers. </h3>
        <button class="mybtn1" type="button" name="button">Get Started</button>
      </div>

  </section>
</div>

  <section class="second_section" id="second_section_id">
      <div class="second1">
        <img src="img/front-end8/icon-access-anywhere.svg" alt="">
        <h2>Access your files, anywhere</h2>
        <p>The ability to use a smartphone, tablet, or computer to access your account means your
        files follow you everywhere.</p>
      </div>

      <div class="second2">
        <img src="img/front-end8/icon-security.svg" alt="">
        <h2>Security you can trust</h2>
        <p>2-factor authentication and user-controlled encryption are just a couple of the security
        features we allow to help secure your files.</p>
      </div>

      <div class="second3">
        <img src="img/front-end8/icon-collaboration.svg" alt="">
        <h2>Real-time collaboration</h2>
        <p>Securely share files and folders with friends, family and colleagues for live collaboration.
        No email attachments required.</p>
      </div>

      <div class="second4">
        <img src="img/front-end8/icon-any-file.svg" alt="">
        <h2>Store any type of file</h2>
        <p>Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all
        file types to be securely stored and shared.</p>
      </div>
    <!-- </div> -->
  </section>

  <section class="third_section" id="third_section_id">

    <img class="third_section_image" src="img/front-end8/illustration-stay-productive.png" alt="">

    <div class="third1">
      <h1>Stay productive, wherever you are</h1>
      <p>Never let location be an issue when accessing your files. Fylo has you covered for all of your file
      storage needs.</p>

      <p>Securely share files and folders with friends, family and colleagues for live collaboration. No email
      attachments required.</p>
      <a class="howitworks" href="#">See how Fylo works  <i class="fas fa-arrow-circle-right"></i></a>
    </div>

  </section>

  <section class="fourth_section" id="fourth_section_id">

    <div class="fourth1">
      <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
      become a well-oiled collaboration machine. </p>

      <img src="img/front-end8/profile-1.jpg" alt="">

      <h4>Satish Patel</h4>
      <p class="caption">Founder & CEO, Huddle</p>
    </div>

    <div class="fourth2">
      <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
      become a well-oiled collaboration machine. </p>

      <img src="img/front-end8/profile-2.jpg" alt="">

      <h4>Bruce McKenzie</h4>
      <p class="caption">Founder & CEO, Huddle</p>
    </div>

    <div class="fourth3">
      <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
      become a well-oiled collaboration machine. </p>

      <img src="img/front-end8/profile-3.jpg" alt="">

      <h4>Iva Boyd</h4>
      <p class="caption">Founder & CEO, Huddle</p>
    </div>

  </section>

  <section class="fifth_section" id="fifth_section_id">

    <div class="fifth1">

      <h2>Get early access today</h2>

      <p>It only takes a minute to sign up and our free starter tier is extremely generous. If you have any
      questions, our support team would be happy to help you.</p>

      <div class="fifth2">
        <input class="email" type="email" name="emailaddress" placeholder="email@example.com"> 							<!-- important -->
        <button type="button" name="button" class="mybtn1">Get Started For Free</button>
      </div>

    </div>

  </section>

<section class="footer" id="footer_id">
  <img class="logo1" src="img/front-end8/logo.SVG" alt="">

  <div class="footer1">
    <i class="fas fa-map-marker-alt"></i>
    <p class="footer_el1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua.</p>

    <p class="footer_el2"><i class="fas fa-phone"></i> +1-543-123-4567</p>
    <p class="footer_el3"><i class="fas fa-envelope"></i> example@fylo.com</p>

    <p class="footer_el4">About Us</p>
    <p class="footer_el5">Jobs</p>
    <p class="footer_el6">Press</p>
    <p class="footer_el7">Blog</p>

    <p class="footer_el8">Contact Us</p>
    <p class="footer_el9">Terms</p>
    <p class="footer_el10">Privacy</p>

      <i class="fab fa-facebook footer_el11"></i>
      <i class="fab fa-twitter-square footer_el12"></i>
      <i class="fab fa-instagram footer_el13"></i>

  </div>

</section>



  <footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://www.github.com/krakiri" target="_blank">Piotr Knera</a>.
    </p>
  </footer>
</body>
</html>
