<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Failure</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="jumbotron">
      <h1 class="display-4">Failure</h1>
      <hr class="my-4">
      <p>Something is not right here</p>
      <hr class="my-2">
      <form class="" action="/failure" method="post">
        <button class="btn btn-lg btn-dark" name="button" type="submit">Try again</button>
      </form>
    </div>

  </body>
